@model IEnumerable<KursKayit>
    <h2>Öğrençi Lİstesi</h2>
    <a href="/KursKayit/Create" class="btn btn-success">Öğrenciye Kurs Ekle</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m => m.KayitId)</th>
                <th>@Html.DisplayNameFor(m => m.Ogrenci.OgrenciAd)</th>
                <th>@Html.DisplayNameFor(m => m.Kurs.Baslik)</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.KayitId</td>
                <td>@item.Ogrenci.OgrenciAd</td>
                <td>@item.Kurs.Baslik</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OgrenciId"
                        class="btn btn-sm btn-success">Güncele</a>
                    <a asp-action="Delete" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
            }
        </tbody>
    </table>